<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <header>
    <div class="smoothie">
      <img src="/smoothie.png" alt="">
    </div>
    <div class="headings">
      <h2>All Articles</h2>
      <h3>By Ninjas For Ninjas</h3>
      <a href="/blogs" class="btn">View Articles</a>
    </div>
  </header>

  <%- include("./partials/footer.ejs") %>
</body>
</html>